testVenv/
__pycache__/
dell/

# ignored by lakectl local
dell/foulder_3/*
!dell/foulder_3/.lakefs_ref.yaml
dell/foulder_6/*
!dell/foulder_6/.lakefs_ref.yaml
dell/foulder_11/*
!dell/foulder_11/.lakefs_ref.yaml
dell/foulder_7/*
!dell/foulder_7/.lakefs_ref.yaml
dell/foulder_1/*
!dell/foulder_1/.lakefs_ref.yaml
dell/foulder_4/*
!dell/foulder_4/.lakefs_ref.yaml
dell/foulder_17/*
!dell/foulder_17/.lakefs_ref.yaml
dell/foulder_2/*
!dell/foulder_2/.lakefs_ref.yaml
dell/foulder_14/*
!dell/foulder_14/.lakefs_ref.yaml
dell/foulder_10/*
!dell/foulder_10/.lakefs_ref.yaml
dell/foulder_18/*
!dell/foulder_18/.lakefs_ref.yaml
dell/foulder_13/*
!dell/foulder_13/.lakefs_ref.yaml
dell/foulder_12/*
!dell/foulder_12/.lakefs_ref.yaml
dell/foulder_5/*
!dell/foulder_5/.lakefs_ref.yaml
dell/foulder_19/*
!dell/foulder_19/.lakefs_ref.yaml
dell/foulder_20/*
!dell/foulder_20/.lakefs_ref.yaml
dell/foulder_9/*
!dell/foulder_9/.lakefs_ref.yaml
dell/foulder_16/*
!dell/foulder_16/.lakefs_ref.yaml
dell/foulder_8/*
!dell/foulder_8/.lakefs_ref.yaml
dell/foulder_15/*
!dell/foulder_15/.lakefs_ref.yaml
# End ignored by lakectl local
