testVenv/
dell/
__pycache__/
AyonBinDistro_cicd/
test.py
test/test_with_lake_ctl_server.py
test/.lakectl.yaml
test/test.yaml

# ignored by lakectl local
dell/down_b3/*
!dell/down_b3/.lakefs_ref.yaml
dell/down_b1/*
!dell/down_b1/.lakefs_ref.yaml
dell/down_b6/*
!dell/down_b6/.lakefs_ref.yaml
dell/down_b2/*
!dell/down_b2/.lakefs_ref.yaml
dell/down_b5/*
!dell/down_b5/.lakefs_ref.yaml
dell/down_b4/*
!dell/down_b4/.lakefs_ref.yaml
dell/down_b8/*
!dell/down_b8/.lakefs_ref.yaml
dell/down_b7/*
!dell/down_b7/.lakefs_ref.yaml
dell/down_b9/*
!dell/down_b9/.lakefs_ref.yaml
dell/down_b0/*
!dell/down_b0/.lakefs_ref.yaml
dell/*
!dell/.lakefs_ref.yaml
test/temp/repo_clone_2024-07-26 08:46:15.739568/*
!test/temp/repo_clone_2024-07-26 08:46:15.739568/.lakefs_ref.yaml
test/temp/*
!test/temp/.lakefs_ref.yaml
test\temp\repo_clone\*
!test\temp\repo_clone\.lakefs_ref.yaml
test\temp\commit_local_repo_temp\*
!test\temp\commit_local_repo_temp\.lakefs_ref.yaml
test/temp/repo_clone/*
!test/temp/repo_clone/.lakefs_ref.yaml
test/temp/commit_local_repo_temp/*
!test/temp/commit_local_repo_temp/.lakefs_ref.yaml
# End ignored by lakectl local
